@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    /* background: #000000; */
    background: url('../img/guitars3.png');
}

/* ============================================ */
/* ================== BARRA DE SCROLL ================== */
html::-webkit-scrollbar {
    width: 20px;
}
html::-webkit-scrollbar-track {
    background: #d8d6d4bd;
}
html::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #66554e, #e0d9d5, #66554e);
    border-radius: 15px;
    box-shadow: 2px 4px 4px #191919;
}


.contenedor {
    width: 400px;
    height: 400px;
    perspective: 1000px;
    margin: 100px auto;
    cursor: pointer;
}
.cont-hijo{
    width: 312px;
    height: 300px;
    transform-style: preserve-3d;
    animation: rotar 13s infinite linear;
}
.lado {
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}
.box {
    width: 100%;
    height: 100%;
    transition: 1.5s;
    transform-origin: bottom;
}
.box img {
    width: 97%;
    height: 100%;
    box-shadow: 0px 0px 10px #000000;
}
.frente {
    transform: rotateY(0deg) translateZ(150px);
}
.derecho {
    transform: rotateY(90deg) translateZ(150px);
}
.izquierdo {
    transform: rotateY(-90deg) translateZ(150px);
}
.atras {
    transform: rotateY(180deg) translateZ(150px);
}
.abajo {
    transform: rotateX(-90deg) translateZ(150px);
    background: url('../img/logo11.png');
}
.sombra {
    transform: rotateX(-90deg) translateZ(220px);
    background-color: #2f230b;
    box-shadow: 0px 0px 30px 20px #2f230b;
}
.cont-hijo:hover .box {
    transform: rotateX(-80deg);
}
@keyframes rotar {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.logo{
    width: 250px;
    height: 300px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    filter: drop-shadow(0px 0px 10px #2f230b);
    transition: .5s;
}
.index {
    display: flex;
    justify-content: center;
    align-items: center;
}
.index img{
    width: 200px;
    height: 150px;
    transition: 3s;
    z-index: 1;
    transform-origin: bottom;
}
.index img:hover{ 
    transform: translateY(-1%) rotateY(350deg);
    filter: drop-shadow(0px 0px 5px #2f230b);
}