@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/guitars3.png');
  background-attachment: fixed;
}

/* ============================================ */
/* ================== BARRA DE SCROLL ================== */
html::-webkit-scrollbar {
  width: 20px;
}

html::-webkit-scrollbar-track {
  background: #d8d6d4bd;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #66554e, #e0d9d5, #66554e);
  border-radius: 15px;
  box-shadow: 2px 4px 4px #191919;
}

/* ============================================ */
/* =============== CUERPO PDF ================= */
.pdfview {
  margin: 20px 244px 30px;
  display: block;
  width: 1000px;
  height: 150vh;
  border-radius: 20px;
  box-shadow: 0 4px 8px #0000007d,
  0 4px 20px 0 #00000030;
}
.title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  margin: 20px 244px 20px;
  text-shadow: 0px 0px 5px #6c2c00;
  background: #635041a1;
  color: #ffffff;
  width: 67%;
  height: 90px;
  font-size: 4rem;
  transition: .5s;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #49453faa;
}
.title:hover {
  transform: scale(1.1);
}


/* ============================================ */
/* =================== FOOTER ================= */
footer {
  background: transparent;
  padding: 0;
  box-shadow: 0px 0px 20px #49453faa;
}

#informs {
  display: flex;
  background: #f6f5f4b6;
  height: 260px;
  padding: 1px;
  justify-content: space-around;
}

#informs h1 {
  color: #6c2c00;
  padding: 0px;
  font-size: 1.5rem;
}

#enlaces {
  font-size: 1rem;
  padding: 0px;
  color: #6c2c00;
  text-decoration: none;
}

#articulo-1 {
  text-align: start;
  margin: 20px;
  padding: 0.5px;
  font-size: 0.5em;
  width: 240px;
  background: transparent;
}

#articulo-2 {
  text-align: start;
  margin: 20px;
  padding: 0.5px;
  font-size: 0.5em;
  width: 240px;
  background: transparent;
}

#articulo-3 {
  text-align: start;
  margin: 20px;
  padding: 0.5px;
  font-size: 0.5em;
  width: 240px;
  background: transparent;
}

#articulo-4 {
  text-align: start;
  margin: 20px;
  padding: 0.5px;
  font-size: 0.5em;
  width: 240px;
  background: transparent;
}

#articulo-4 a {
  text-decoration: none;
  color: #6c2c00;
}

/* ============================================= */
/* ================ REDES SOCIALES ============= */
#sociales {
  background: #f6f5f4b6;
  width: 100%;
  height: 150px;
  padding: 1rem 0 0 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

.redesS {
  width: 300px;
  position: relative;

}

.redesS .card {
  position: relative;
  width: 60px;
  height: 50px;
}

.redesS .card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.redesS .card .face.face1 {
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  transform-origin: bottom;
}

.redesS .card:hover .face.face1 {
  transform: translateY(-100%) rotateX(90deg);
  background: transparent;
}

#icons {
  color: #fff;
  opacity: 0;
  transition: .5s ease;
}

#icons:hover {
  opacity: 1;
  transform: scale(1.5);
}

/* ============================================ */
/* ================= FACEBOOK ================= */
.redesS .card .face.face2 {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 5px;
  left: 10px;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg);
}

.redesS .card:hover .face.face2 {
  transform: translateY(0) rotateX(0deg);
}

.centent a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  background: transparent;
  border: .2rem solid #176cf4;
  border-radius: 50%;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.centent a:hover {
  background: linear-gradient(45deg, #e7effe, #176cf4);
  box-shadow: 0 0 1rem #176cf4;
}

/* ============================================= */
/* ================= INSTAGRAM ================= */
.redesS .card .face.face2-2 {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 5px;
  left: 10px;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg);
}

.redesS .card:hover .face.face2-2 {
  transform: translateY(0) rotateX(0deg);
}

.centent2 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  background: transparent;
  border: .2rem solid #d70675;
  border-radius: 50%;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.centent2 a:hover {
  background: linear-gradient(45deg, #fa2898, #6140f2);
  box-shadow: 0 0 1rem #d70675;
}

/* ============================================ */
/* ================= WHATSAPP ================= */
.redesS .card .face.face2-3 {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 5px;
  left: 13px;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg);
}

.redesS .card:hover .face.face2-3 {
  transform: translateY(0) rotateX(0deg);
}

.centent3 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  background: transparent;
  border: .2rem solid #34a006;
  border-radius: 50%;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.centent3 a:hover {
  background: linear-gradient(45deg, #f4efef, #34a006);
  box-shadow: 0 0 1rem #34a006;
}

/* =========================================== */
/* ================= YOUTUBE ================= */
.redesS .card .face.face2-4 {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 5px;
  left: 13px;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg);
}

.redesS .card:hover .face.face2-4 {
  transform: translateY(0) rotateX(0deg);
}

.centent4 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
  background: transparent;
  border: .2rem solid #f80e06;
  border-radius: 50%;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.centent4 a:hover {
  background: #f83e06;
  box-shadow: 0 0 1rem #f80e06;
}


/* ============================================ */
/* ================ COPYRIGHT ================= */
.copy {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: transparent;
  width: 40%;
  height: 50px;
  padding: 15px;
  color: #954308;
}